#Ignore the offline-bundle directory as it to large for handle with Github
offline-bundle/
*.gpg
*.snap
# Debian build artifacts
debian/scarpa-connection-manager/
debian/.debhelper/
debian/debhelper-build-stamp
*.deb
*.buildinfo
*.changes
