[Desktop Entry]
Name=Scarpa Connection Manager
Exec=scarpa-connection-manager
Icon=/usr/share/icons/hicolor/512x512/apps/scarpa_icon.png
Terminal=false
Type=Application
StartupWMClass=scarpa-connection-manager
Categories=Utility;
